#---------------------------------------
# ide files
#---------------------------------------
.idea

#---------------------------------------
# dependencies
#---------------------------------------
.gradle

#---------------------------------------
# output files
#---------------------------------------
build
out
